@use "page.scss";

p {
    font-weight: bold;
}

.grub-error-area {
    border: 8px solid;
    border-radius: 2px;
    border-color: var(--pf-t--global--color--status--danger--default);
}

.grub-error-area-buttons {
    margin-top: 24px;
    border-top: 1px solid;
    padding-top: 8px;
}
